.aboutMainContainer{
    width: 100%;
    min-height: calc(100vh - 75px);
    padding: 50px; 
    background-color: lightgray; 
}

.aboutDescriptionContainer{
   display: flex;
   align-items: center;
   gap: 20px;
   padding: 10px;
   background-color:antiquewhite;
   box-shadow: 0px 0px 3px 0px rgb(138, 135, 135);
}
.aboutDescriptionImg{
    display: flex;
}

.aboutDescriptionImg Img{
    width: 200px;
    height: 200px;
    border-radius: 8rem;
}

.aboutDescriptionContent{
    text-align: justify;
    padding: 10px;
}

.marginTop10{
    margin-top: 10px;
}

.aboutInfosContainer{
    margin: 20px 0px;
    display: flex;
    gap: 20px;
    background-color:antiquewhite;
    box-shadow: 0px 0px 3px 0px rgb(138, 135, 135);
}

.aboutInfosLeftContainer{
    width: 200px;
    min-height: 300px;
}

.aboutInfosRightContainer{
    width: calc(100% - 180px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
     
}

.aboutInfosRightContainerTitle{
    margin-left: 65vh;
}

.aboutInfosLeftItemContainer{
    display: flex;
    gap: 5px;
    padding: 10px 15px;
    align-items: center;
    color: black;
    text-decoration: none;
}

.aboutInfosLeftItemContainer span{
   font-size: 13px;
}

.projectCardsMainContainer{
    width: 90%;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.simpleProjectCardContainer{
    width: 100vh;
    background-color: aliceblue;
    border-radius: 4px;
    border: 1px solid rgb(134, 158, 170);
}

.simpleProjectCardImgContainer{
    width: 30vh;
    height: 180px;
}

.simpleProjectCardImgContainer img{
    width: 30vh;
    height: 150px;
}

.simpleProjectCardTitle{
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.simpleProjectCardDescription{
    padding: 10px;
    text-align: justify;
}

.simpleProjectCardLinkContainer{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.simpleProjectCardLinkContainer a{
    padding: 5px 20px;
    border: 1px solid rgb(134, 158, 170);
    text-decoration: none;
    color: black;
    transition: all 0.2s linear;
}

.simpleProjectCardLinkContainer a:hover{
    background-color:rgb(134, 158, 170);
    color: antiquewhite;
}

/*responsive*/

@media screen and (min-width: 900px){
    .aboutMainContainer{
        padding: 50px 200px;
    }
}

@media screen and (max-width: 500px){
    .aboutDescriptionContainer{
        flex-direction: column;
    }

    .aboutDescriptionContainer h3, .aboutDescriptionContainer h4{
        text-align: center;
    }

    .aboutInfosContainer{
        flex-direction: column;
    }

    .aboutInfosLeftContainer{
        width: 100%;
        min-height: 0px;
    }

    .aboutInfosRightContainer{
        width: 100%;
    }

    .aboutInfosRightContainerTitle{
        margin-left: 25vh;
    }
}